<div class="row text-content">
  <h1 class="size-h1"> {{{h1}}} </h1>
</div>

<div class="row">
  <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="{{{featuredImage.desktopUrl}}}"
    data-src-small="{{{featuredImage.mobileUrl}}}"
    class="b-lazy feature-image full-width"
    alt="{{{featuredImage.alt}}}"
    title="{{{featuredImage.title}}}" />
  </div>
</div>




{{!-- Chantown Creative Section --}}
<div class='row text-content'>
    <div class='padding-top-2x'>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{{chantownCreativeLogo.desktopUrl}}}"
        data-src-small="{{{chantownCreativeLogo.mobileUrl}}}"
        class="b-lazy logo"
        alt="{{{chantownCreativeLogo.alt}}}" style="max-width: 400px"/>
        </div>
</div>

<div class="row text-content">
    <br/>
    {{{content1}}}
    <!-- Include book links -->
    {{!-- @@include('../widgets/_bookLinks.html') --}}
    <br>
</div>

<div class="row text-content clients-wrapper">
  {{{clientText}}}
  <div class="row ">
    <ul class="list__clients">
      <!-- Include clients links -->
      @@include('../widgets/_clientImages.html')
    </ul>

  </div>
</div>
