<div class="row __text">
  <h1 class="size-h1"> {{{h1}}} </h1>
  <p class="leader"> {{{leader}}} </p>
  {{{content}}}
  <br>
  <br>
</div>
<!-- <div class="row __text">
  <p><a href="mailto:hello@chantown.com" style="max-width: 250px" class="fancy-btn btn-w-icon btn-3d icon-bolt contact-btn" data-url="mailto:hello@chantown.com">{{buttonText}}</a></p>
</div> -->
<div class="row __text">
  <div class="left-profile-image">
      <div class="side-image-content">
        <h2>{{bioTitle}}</h2>
        <p>{{bioText}}</p>
      </div>
  <div class="images-wrapper" style="background: url({{bioImage.mobileUrl}}) top center no-repeat; background-size: contain;"></div>

  </div>

</div>
<div class="row __text">
  {{{bioTextUnder}}}
</div>
