<div class="row text-content">
   <h1 class="size-h1"> {{{h1}}} </h1>
</div>

<div class="row">
 <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="{{{featuredImage.desktopUrl}}}"
    data-src-small="{{{featuredImage.mobileUrl}}}"
    class="b-lazy feature-image full-width"
    alt="{{{featuredImage.alt}}}"
    title="{{{featuredImage.title}}}" />
  </div>
</div>
<div class="row text-content">
 {{!--  {{{content}}} --}}
  <br>
  <br>
  <p class="leader"> {{{leader}}} </p>
</div>
<!-- <div class="row text-content">
  <p><a href="mailto:hello@chantown.com" style="max-width: 250px" class="fancy-btn btn-w-icon btn-3d icon-bolt contact-btn" data-url="mailto:hello@chantown.com">{{buttonText}}</a></p>
</div> -->
<div class="row text-content">

      <div class="left-profile-image">
         <div class="images-wrapper" style="background: url({{bioImage.mobileUrl}}) top center no-repeat; background-size: contain;"></div>
        <div class="side-image-content">
            <h2><a class="underlined with-left-arrow" href="./home.html#contact-vc"><strong>{{{bioTitle}}}</strong></a></h2>
        </div>
      </div>
</div>
<div class="row text-content">
    {{!-- <h2>Join the cocktail party</h2> --}}
    <div class="feature">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{{cocktailParty.desktopUrl}}}"
      data-src-small=" {{{cocktailParty.mobileUrl}}}"
      class="b-lazy feature-image full-width"
      alt="{{{cocktailParty.alt}}}"/>
  </div>
<br/>
  
</div>

<div class="row text-content clients-wrapper"></div>
  <div class="row ">
      <ul class="list__clients">
        <!-- Include hand drawn social links -->
        @@include('../widgets/_illustratedIcons.html')
      </ul>
    </div>
</div>

