<div class="row text-content">
  <h1 class="size-h1"> {{{h1}}} </h1>
</div>

<div class="row">
  <div class="feature">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{{featuredImage.desktopUrl}}}"
      data-src-small="{{{featuredImage.mobileUrl}}}"
      class="b-lazy feature-image full-width"
      alt="{{{featuredImage.alt}}}"
      title="{{{featuredImage.title}}}" />
  </div>

</div>

{{!-- Studio Chanpei Section --}}
<div class='row text-content'>
    <div class='padding-top-2x'>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{{studioChanpeiLogo.desktopUrl}}}"
        data-src-small="{{{studioChanpeiLogo.mobileUrl}}}"
        class="b-lazy logo"
        alt="{{{studioChanpeiLogo.alt}}}" style="max-width: 90px"/>
        </div>
</div>


<div class="row text-content">
  <br/>
  <p>
  {{{content}}}
  <p>
</div>
