<div class="row text-content">
  <h1 class="size-h1"> {{{h1}}} </h1>
</div>


<div class="row">
  <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="{{{featuredImage.desktopUrl}}}"
    data-src-small="{{{featuredImage.mobileUrl}}}"
    class="b-lazy feature-image full-width"
    alt="{{{featuredImage.alt}}}" />
  </div>
</div>


{{!-- Studio Chantown Section --}}
<div class='row text-content'>
    <div class='padding-top-3x'>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="{{{studioChanpeiLogo.desktopUrl}}}"
    data-src-small="{{{studioChanpeiLogo.mobileUrl}}}"
    class="b-lazy logo"
    alt="{{{studioChanpeiLogo.alt}}}" style="max-width: 120px; max-height: 120px"/>
    </div>
</div>

<div class="row text-content padding-bottom-2x">
  <h2 style="padding-top: 0.7em">{{{studioChanpeiTitle}}}</h2>
  <p>
    <span class="leader">{{{studioChanpeiLeaderText}}}</span>
{{{studioChanpeiBodyCopy}}} <br/>
    <a href='create.html' class="underlined-inverted" style="font-weight:bold; text-transform: uppercase">{{{studioChanpeiMoreLink}}}</a>
  </p>

</div>




<div class="row">
  <div class="cta-block">

    {{!-- <h2>Chantown on Instagram:</h2> --}}

    <!-- SnapWidget -->
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <iframe src="https://snapwidget.com/embed/452140" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; width:100%;"></iframe>

  </div>
</div>

{{!-- Chantown Creative Section --}}
<div class='row text-content padding-top-3x'>
    <div class="">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="{{{chantownCreativeLogo.desktopUrl}}}"
      data-src-small="{{{chantownCreativeLogo.mobileUrl}}}"
      class="b-lazy logo"
      alt="{{{chantownCreativeLogo.alt}}}" style="max-width: 500px; max-height: 80px" />
    </div>
</div>

<div class="row text-content">
  <h2 style="padding-top: 0.7em">{{{chantownCreativeTitle}}}</h2>
  <p>
    <span class="leader">{{{chantownCreativeLeaderText}}}</span>
{{{chantownCreativeBodyCopy}}} <br/>

    <a href='create.html' class="underlined-inverted" style="font-weight: bold; text-transform: uppercase">{{{chantownCreativeMoreLink}}}</a>
  </p>
  <p>&nbsp;</p>
</div>


{{!-- Contact Section --}}
<div id="contact-vc" class="row text-content" style="margin-top: 30px;">
  <div class="left-profile-image">
      <div class="side-image-content">
        <h2>{{contactSectionTitle}}</h2>
        {{{contactSectionTextNextToImage}}}
      </div>
  <div class="images-wrapper" style="background: url({{{contactImage.mobileUrl}}}) top center no-repeat; background-size: contain;"></div>
  </div>
</div>
<div class="row text-content">
  {{{contactSectionBodyCopy}}}
</div>




{{!-- Contact Section --}}




