<div class="row">
  <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="{{{featuredImage.desktopUrl}}}"
    data-src-small="{{{featuredImage.mobileUrl}}}"
    class="b-lazy feature-image full-width"
    alt="{{{featuredImage.alt}}}"
    title="{{{featuredImage.title}}}" />
  </div>
</div>

<div class="row __text">
  <h1 class="size-h1"> {{{h1}}} </h1>
  <p class="leader"> {{{leader}}} </p>
  {{{main}}}
</div>

<div class="row">
  <div class="cta-block">
    <!-- {{{link1}}}
    {{{link2}}} -->


  </div>
</div>
